In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

##### Function to extract job data from a single page

In [16]:
def extract_data_from_page(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    
    containers = soup.find_all("div", {"class": "css-1gatmva e1v1l3u10"})
    
    for i in containers:
       
        job_title = i.findAll("h2", {"class": "css-m604qf"})
        jTitle = job_title[0].text.strip() if job_title else 'N/A'
        
        job_type  = i.findAll("a", {"class": "css-n2jc4m"})
        jType = job_type[0].text.strip() if job_type else 'N/A'
        
        company_name = i.findAll("a", {"class": "css-17s97q8"})
        cName = company_name[0].text.strip() if company_name else 'N/A'
        
        job_titles.append(jTitle)
        company_names.append(cName)
        job_types.append(jType)

##### Initialize lists to hold the data

In [4]:

job_titles = []
company_names = []
job_types = []

##### URL pattern for Wuzzuf job search pages (assuming pagination with page numbers)

In [5]:

base_url = 'https://wuzzuf.net/search/jobs/?q=software&start='

##### Loop through the first 5 pages (adjust as needed)

In [17]:
for page in range(0, 5): 
    url = f'{base_url}{page*15}'
    extract_data_from_page(url)
    time.sleep(2)  # Delay to prevent overloading the server

##### Create a DataFrame from the lists

In [19]:
df = pd.DataFrame({
    'Job Title': job_titles,
    'Company Name': job_types,
    'Job Type': company_names
})

##### Save the DataFrame to a CSV file

In [8]:
df.to_csv('wuzzuf_jobs.csv', index=False)

In [20]:
df.head(20)

,Job Title,Company Name,Job Type
0,Software Tester,RTR Software Solutions -,Full Time
1,Software Account Manager,Confidential -,Full Time
2,Senior Software Engineer-Java,LINK Development -,Full Time
3,Software Business Analyst,Eg Insurtech -,Full Time
4,Software Testing Engineer,DMS -,Full Time
5,Software Tester,OdooTec -,Full Time
6,Software Business Analyst,Rehletk -,Freelance / Project
7,Head Of Software Development,Cubic Information Systems -,Full Time
8,Software Developer - C# .Net,Confidential -,Full Time
9,Software sales,ITSP Group -,Full Time
10,Software Tester,Tafeel -,Full Time
11,Software Quality Control Engineer,3S Software -,Full Time
12,Software Sales Esecutive,Bevatel -,Full Time
13,Part-Time Odoo Software Specialist,3by9 -,Part Time
14,Lead Software Quality Engineer,Easy Cash -,Full Time
15,Senior Full Stack Developer,Giza Cable Industries -,Full Time
16,AI Developer,qTech. -,Full Time
17,Chief Accountant,Semak -,Full Time
18,Real Estate Customer Service Representative,MENA For Contracting & Trading -,Full Time
19,Senior Frontend Developer- Angular,Egabi FSI -,Full Time

In [21]:
df.describe()

              Job Title Company Name   Job Type
count               150          150        150
unique               67           62         62
top     Software Tester    Full Time  Full Time
freq                  6           69         69

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Job Title     150 non-null    object
 1   Company Name  150 non-null    object
 2   Job Type      150 non-null    object
dtypes: object(3)
memory usage: 3.6+ KB

In [23]:
df.isna().sum()

Job Title       0
Company Name    0
Job Type        0
dtype: int64

In [25]:
df.duplicated().sum()

0